*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: aqua;
}

header{
    display: grid;
    background: violet;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 60px;
}

.nav{
    text-align: end;
    margin-right: 40px;
    margin-top: 20px;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1em;
    margin-left: 10px;
}

.img-logo{
    width: 50px;
    margin-top: 5px;
    margin-left: 40px;
}

.content-nav{
    display: none;
}

@media screen and (max-width: 610px){
    .nav{
        display: none;
    }

    .content-nav{
        display: grid;
       place-items: end;
       margin-top: 10px;
       margin-right: 20px;
       height: 20px;
    }

    .content-nav .nav-responsive{
       display: grid;
       place-items: end;
     
    }

    .content-nav .nav-responsive a{
       display: none;
       text-decoration: none;
       color: rgb(0, 0, 0);
       margin-top: 10px;
       font-size: 1em;
    }


    .content-nav .nav-responsive img{
        width: 40px;
    }

    .nav-responsive:hover a{
        display: grid;
    }
}